.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/development/*
application/config/staging/*
application/config/production/*
/nbproject/private/

application/views/test/*
