@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext);

html {
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}

body {
    background: transparent url("../images/sila-background.svg") no-repeat scroll 0% 0% / cover ; 
    width: 100vw; 
    height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

#header{
    padding: 1% 2%;
/*     height: 80px;  */
}

p {
/* 	font-size: 18px; */
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3 {
    font-family: 'Oswald', sans-serif !important;
    margin-top: 2%;
    margin-bottom: 1%;
    line-height: 1.5;
}

h1 {
	color: #AE3D3A;
	text-transform: uppercase;
	margin-bottom: 16px;
}

h3 {
    font-size: 26px;
}

#navigation{
    font-family: 'Oswald', sans-serif;
}

#navigation ul {
    padding: 0;
    margin: 0 auto;
    width: 800px;
    height: 40px;
    overflow: hidden;
}

#navigation .btn {
    font-size: 16px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

#navigation li {
    display: inline;
    float: left;
}

#nav-pull {
    display: none;
}       

#SS_sidebar{
/*     height: 600px;  */
}

#main {
    text-align: justify;
    padding: 15px 5px 35px;
}

#footer{
    padding: 1% 3%;
    //height: 80px;
}

#inner_navbar {
    overflow: hidden;
    background-color: #ffffff;
    display: none;
}

#SS_survey {
    margin: auto;
}

#SS_flickr_link {
    display: none;
}

#SS_youtube_link {
    //display: none;
}

.SS_container {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.94);
    margin: 5px 0 5px 0;
    padding: 5px 5px 5px 5px;

    /* Rounded corners */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    /* Shadow */
    -moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.5);
}

.SS_padding-horizontal {
    padding: 0 5px 0 5px !important;
}

.SS_no-padding-horizontal {
    padding: 0px !important;
}

.SS_padding-vertical {
    padding: 5px 0 5px 0 !important;
}

.SS_border {
    border-style: dashed;
    border-width: 1px;
    // Rounded corners
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.SS_comment {
    background-color: rgb(230, 230, 230);
    margin-bottom: 9px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.SS_post {
    margin-left: 4%;
    border-bottom: 1px dotted rgb(174, 115, 117);
    padding: 0px 8px 20px;
}

.SS_post:last-of-type {
    border-bottom: 0px dotted;
}

.SS_post > p{
    margin-top: 10px;
}

.post-info {
    padding: 2px 0 0;
    color: #AE3D3A;
}

.post-info span {
    padding: 0 12px 0 0;
}

.SS_calendar {
    height: 235px;
    margin: 4% auto;
    font-family: Oswald, sans-serif;
}

.SS_latest_posts {
    text-align: center;
}

.SS_latest_posts > a > p {
    font-size: 120%;
    margin: 0;
}

.SS_latest_posts > p {
    font-size: 100%;
    margin: 0;
}

.SS_links {
    text-align: center;
}

.SS_links > img {
    padding: 0px 10px 0 10px;
}

.SS_info {
    text-align: center; 
}

.SS_center-align {
    margin-left: auto;
    margin-right: auto;
}

.datepicker-inline {
    width: 210px !important;
}

.seperator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.media-wrapper {
    margin-top: 6%;
}

.youtube-player { display: block; 
                  margin: 0 auto;
                  text-align: center;
}

.container-fluid {
    padding-right: 4%;
    padding-left: 4%;
    margin-right: auto;
    margin-left: auto;
}

.people-photo {
	display: block;
	margin: 2px auto 4px 0;
	border: 3px solid #F8991F;
}



a:visited {
    color: #000000 !important;
    text-decoration: none !important;
}

a:active {
    color: #AE3D3A !important;
    text-decoration: none !important;
}

a:hover {
    color: #AE3D3A !important;
    text-decoration: none !important;
}

a {
    color: #000000 !important;
    text-decoration: none !important;
}


/* bootstrap datepicker */
.table-condensed {
    width: 100%;
}

/* lightslider */
.lSSlideOuter {
    margin: 40px 0 20px;
}

/* navigation media queries */
@media (min-width: 992px) {
    #navigation li:first-of-type {
        margin-left: 12px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #navigation li .btn {
        padding: 0px 13px;
    }
}

@media (max-width: 768px) {
	#navigation ul {
        display: none;
        height: auto;
        border-top: 1px dotted;
    }
    #nav-pull {
        display: block;
        width: 100%;
        position: relative;
        padding: 10px 12px;
    }
    #nav-pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
	
    #navigation li {
        display: block;
        float: none;
        width: 100%;
    }
}


